################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DomainModel/bin/Debug
/.vs/Scheduler/FileContentIndex
/.vs/Scheduler/config/applicationhost.config
/DomainModel/obj/Debug
/packages
/StratexTest/bin
/StratexTest/obj/Debug
/.vs/Scheduler/v17/.suo
